.navbar-logo-center-container {
  z-index: 5;

  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;

  background-color: transparent;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
}

.navbar-wrapper-three {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar-wrapper-three {
    justify-content: space-between;
  }
}

.navbar-brand-three {
  position: absolute;
  z-index: 5;
}

@media screen and (max-width: 991px) {
  .navbar-brand-three {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-three {
    padding-left: 0px;
  }
}

.nav-menu-wrapper-three {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper-three {
    top: 70px;
    background-color: transparent;
  }
}

.nav-menu-three {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-menu-three {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 50px;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);

    box-shadow: 0 8px 50px 0 hsla(0, 0.00%, 0.00%, 0.05);
  }
}

@media screen and (max-width: 767px) {
  .nav-menu-three {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu-three {
    flex-direction: column;
  }
}

.nav-menu-block {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-menu-block {
    flex-direction: column;
  }
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;

  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;

  outline-color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;

  color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;

  outline-color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;

  color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: white;
}

.nav-dropdown-list:global(.w--open) {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .nav-dropdown-list.shadow-three:global(.w--open) {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 hsla(0, 0.00%, 0.00%, 0.05);
  }
}

@media screen and (max-width: 767px) {
  .nav-dropdown-list.shadow-three:global(.w--open) {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;

  outline-color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;

  color: hsla(214.6153846153846, 100.00%, 37.00%, 1.00);
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;

  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

@media screen and (max-width: 767px) {
  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

.button-primary {
  padding: 12px 25px;

  background-color: #1a1b1f;

  transition: all 200ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.button-primary:active {
  background-color: #43464d;
}

@media screen and (max-width: 991px) {
  .menu-button {
    padding: 12px;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: hsla(213.60000000000002, 16.34%, 70.00%, 1.00);
    color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}